.payment-method__img {
  width: 50px;
  height: 35px;
}

.payment-method__img_disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}

.payment-method__number {
  width: 250px;
  height: 30px;
  margin: 5px 0;
  border-radius: 5px;
}

.payment-method__button {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  background-color: green;
  color: #ffffff;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.example_card__table {
  border: 1px solid #000000;
  border-collapse: collapse;
}

.table__row {
  padding: 5px 10px;
  border: 1px solid #000000;
}

.text-validation {
  margin-left: 10px;
}

.valid-message {
  color: #5900ff
}

.error-message {
  color: #ff0000;
}
